body {
    margin: 0;
    background-image: url('../img/background.png');
}

.wrapper {
    width: 990px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #1c1c1c;
}

.top-menu {
    display: block;
    padding-right: 6px;
    background-color: #000000;
    height: 32px;
}
.top-menu-box {
    display: flex;
    justify-content: flex-end;
    min-height: 100%;
}

.main-header {
    display: flex;
    flex-flow: row;
    height: 72px;
    border-bottom: #2e2e2e solid 1px;
}
.headerlogo-frame {
    min-height: 100%;
    width: fit-content;
    display: flex;
}

.aboutus-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.aboutus-nav-ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: fit-content;
    margin-bottom: 12px;
}

.search {
    padding-left: 28px;
}
.search-icon {
    vertical-align: middle;
}
.search-label {
    font-weight: bold;
    font-family: 'Verdana';
    font-size: 10.16px;
    color: #0f90a6;
    letter-spacing: 1.6px;
}
.search-input {
    width: 68px;
}

.main-nav {
    display: flex;
    align-items: center;
    height: 46px;
}
.main-nav-ul {
    display: flex;
    margin: 0;
    width: 100%;
    list-style: none;
    padding: 0;
}

.main {
    height: 100%;
}

.events {
    padding-bottom: 26px;
    border-bottom: 1px solid #262525;
}

.events-header {
    display: flex;
    justify-content: space-between;
}
.events-title {
    margin: 0;
    width: fit-content;
    font-size: 22.86px;
    font-family: 'Verdana';
    color: #ffffff;
    font-weight: 100;
    align-self: flex-start;
}
.events-nav {
    display: flex;
    background-color: #333333;
    border: 1px solid #444444;
    border-radius: 12px;
    box-shadow: inset 0px 0px 1px #000000;
}
.events-counter {
    color: #c4c4c4;
    font-family: 'Verdana';
    font-size: 10.16px;
    align-self: center;
    height: fit-content;
    padding: 6px;
}

.events-main {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.events-footer {
    margin-top: 32px;
}
.events-footer-prior {
    color: #ffffff;
    font-size: 22.86px;
    font-family: 'Verdana';
    font-weight: 100;
    margin-bottom: 0;
}

/* NEWS */

.news {
    display: flex;
    justify-content: space-around;
    margin-bottom: 36px;
}

.news-latest {
    display: flex;
    flex-direction: column;
    width: 465px;
}
.news-latest-header {
    display: flex;
    align-items: center;
    width: 465px;
}
.news-arrow-box {
    display: flex;
    justify-content: flex-end;
    width: 92px;
}

.news-center {
    width: 465px;
}

/* FOOTER */

.footer {
    background-color: #111111;
    height: 195px;
}

.footer-wrapper {
    width: 990px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}