/* BODY & WRAPPER */
html, body {
    margin: 0;
    background-image: url('../img/background.png');
}

.wrapper {
    width: 990px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */

.top-menu {
    display: block;
    padding-right: 6px;
    background-color: #000000;
    height: 32px;
}
.top-menu-box {
    display: flex;
    justify-content: flex-end;
    min-height: 100%;
}

.main-header {
    display: flex;
    flex-flow: row;
    height: 72px;
    border-bottom: #2e2e2e solid 1px;
}
.headerlogo-frame {
    min-height: 100%;
    width: fit-content;
    display: flex;
}

.aboutus-nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.aboutus-nav-ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: fit-content;
    margin-bottom: 12px;
}

/* MAIN-NAV */

.main-nav {
    display: flex;
    align-items: center;
    height: 46px;
}

/* MAIN */

.hero {
    max-width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #262525;
    margin-bottom: 28px;
}

/* EVENTS */

.events {
    padding-bottom: 26px;
    border-bottom: 1px solid #262525;
}

.events-title {
    margin: 0;
    width: fit-content;
    font-size: 22.86px;
    font-family: 'Verdana';
    color: #ffffff;
    font-weight: 100;
    align-self: flex-start;
}
.events-nav {
    display: flex;
    background-color: #333333;
    border: 1px solid #444444;
    border-radius: 12px;
    box-shadow: inset 0px 0px 1px #000000;
}
.events-counter {
    color: #c4c4c4;
    font-family: 'Verdana';
    font-size: 10.16px;
    align-self: center;
    height: fit-content;
    padding: 6px;
}

/* NEWS */

.news {
    display: flex;
    justify-content: space-around;
    margin-bottom: 36px;
}

.news-latest {
    display: flex;
    flex-direction: column;
    width: 465px;
}
.news-latest-header {
    display: flex;
    align-items: center;
    width: 465px;
}
.news-arrow-box {
    display: flex;
    justify-content: flex-end;
    width: 92px;
}

.news-center {
    width: 465px;
}

/* FOOTER */

.footer-wrapper {
    width: 990px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-main {
    display: flex;
    align-items: center;
    height: 150px;
    border-bottom: #2e2e2e solid 1px;
}

.footer-logo-frame {
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.newsletter {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.newsletter-content {
    display: flex;
    flex-direction: column;
}
.insert-email-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 192px;
}
.insert-email {
    color: #9b9b9b;
    background-color: #d4d4d4;
    font-size: 10.16px;
    font-family: 'Verdana';
    width: 192px;
    padding: 12px;
    border-radius: 2px;
    border: none;
}
.insert-email:focus {
    outline: none;
}
.insert-email-submit {
    display: inline-block;
    position: absolute;
    background-color: #c8142e;
    height: 29px;
    padding-left: 9px;
    padding-right: 11px;
    border: none;
    margin-right: 1px;
}

.footer-nav {
    display: flex;
    align-items: center;
    height: 46px;
}
.footer-nav-ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    z-index: 3;
}
.footer-nav-copyright {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 944px;
    font-size: 10.16px;
    color: #999999;
    font-family: 'Verdana';
}
.footer-nav-label {
    color: #578282;
    padding-left: 4px;
}