/* HEADER */
.header {
    background-color: #1c1c1c;
}

.logout-link {
    font-family: 'Verdana';
    font-size: 10.16px;
    color: #999999;
    padding: 12px;
}

.support {
    font-family: 'Myriad Pro';
    color: #a1141a;
    font-size: 10.16px;
    font-weight: bold;
    align-self: center;
}

.lettericon {
    vertical-align: middle;
    margin-right: 12px;
    margin-left: 6px;
    align-self: center;
}

.ordernow {
    display: inline-block;
    font-family: 'Verdana';
    color: #ffffff;
    font-size: 12.7px;
    background-color: #c8142e;
    padding: 4px;
    border-radius: 5px;
    text-decoration: none;
    align-self: center;
}

.line {
    font-size: 14.16px;
    font-weight: bold;
    color: #333333;
    vertical-align: middle;
}

.main-nav-link {
    color: #ffffff;
    font-size: 12.7px;
    font-weight: bold;
    font-family: 'Verdana';
    text-decoration: none;
    padding-right: 38px;
    padding-left: 38px;
}

.headerlogo {
    padding-left: 26px;
}
.headerlogo-link {
    align-self: center;
}

.search {
    padding-left: 28px;
}
.search-icon {
    vertical-align: middle;
}
.search-label {
    font-weight: bold;
    font-family: 'Verdana';
    font-size: 10.16px;
    color: #0f90a6;
    letter-spacing: 1.6px;
}
.search-input {
    width: 68px;
}

/* MAIN-NAV */

.main-nav-ul {
    display: flex;
    margin: 0;
    width: 100%;
    list-style: none;
    padding: 0;
}
.main-nav-link.formal-padding {
    padding-left: 64px;
}

/* MAIN */

.main {
    height: 100%;
}

/* EVENTS */

.events-header {
    display: flex;
    justify-content: space-between;
}

.events-main {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.events-footer {
    margin-top: 32px;
}
.events-footer-prior {
    color: #ffffff;
    font-size: 22.86px;
    font-family: 'Verdana';
    font-weight: 100;
    margin-bottom: 0;
}

/* NEWS */

.news-view-all {
    color: #03969d;
    font-size: 10.16px;
    font-family: 'Verdana';
    margin-left: 6px;
}

.arrow.right.view-all {
    border: #03969d solid;
    border-width: 0 2px 2px 0;
    margin-right: 8px;
}

.news-title {
    font-family: 'Verdana';
    font-size: 25.4px;
    color: #ffffff;
    font-weight: 100;
}

/* FOOTER */
.footer {
    background-color: #111111;
    height: 195px;
    width: 100%;
    position: absolute;
}

/******/

/* LOGIN */
.login {
    display: flex;
    align-items: center;
    height: 60vh;
    background-color: #333333;
    padding: 36px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 248px;
    padding: 24px;
    border: #c8142e solid 1px;
}

.login-input {
    margin-bottom: 6px;
}
.login-input:focus {
    outline: none;
}

.signup-link {
    width: fit-content;
    color: #999999;
    font-size: 10.16px;
    font-family: 'Verdana';
    padding-bottom: 2px;
    margin-top: 6px;
}

.error-message {
    background-color: rgba(168, 18, 18, 0.4);
    padding-left: 12px;
    border-left: #c8142e solid 6px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 12px;
}
.error-message-title.news-article-title {
    font-weight: bold;
    color: #c8142e;
}
.error-message-text.news-article-text {
    font-size: 12.7px;
}

.login-message {
    background-color: rgba(48, 175, 16, 0.4);
    padding-left: 12px;
    border-left: #32f30b solid 6px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 12px;
}
.login-message-title.news-article-title {
    font-weight: bold;
    color: #32f30b;
}
.login-message-text.news-article-text {
    font-size: 12.7px;
}

/* SIGN UP */

.signup {
    display: flex;
    align-items: center;
    background-color: #333333;
    height: 60vh;
    padding: 36px;
}

.signup-wrapper {
    display: flex;
    flex-direction: column;
}

/*****/

/* NEWS PAGE */

.news-overview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.news-header {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: #2e2e2e solid 1px;
    margin-top: 36px;
    margin-bottom: 12px;
}

.news-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    width: 25%;
    height: 148px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    margin: 24px;
}
.news-overview-date {
    display: inline-block;
    width: 100%;
    background-color: #009ea6;
    font-size: 17.78px;
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
    border-radius: 12px;
}

/* NEWS PAGE ADMIN */

.news-form-wrapper {
    display: flex;
    width: 100%;
    padding-bottom: 24px;
    border-bottom: #2e2e2e solid 1px;
    margin-bottom: 12px;
}
.news-form {
    display: flex;
    flex-direction: column;
}