/* HEADER */
.support {
    font-family: 'Myriad Pro';
    color: #a1141a;
    font-size: 10.16px;
    font-weight: bold;
    align-self: center;
}

.lettericon {
    vertical-align: middle;
    margin-right: 12px;
    margin-left: 6px;
    align-self: center;
}

.ordernow {
    display: inline-block;
    font-family: 'Verdana';
    color: #ffffff;
    font-size: 12.7px;
    background-color: #c8142e;
    padding: 4px;
    border-radius: 5px;
    text-decoration: none;
    align-self: center;
}

.aboutus-link {
    font-family: 'Verdana';
    text-decoration: none;
    font-size: 10.16px;
    color: #999999;
    padding: 12px;
}

.line {
    font-size: 14.16px;
    font-weight: bold;
    color: #333333;
    vertical-align: middle;
}

.main-nav-link {
    color: #ffffff;
    font-size: 12.7px;
    font-weight: bold;
    font-family: 'Verdana';
    text-decoration: none;
    padding-right: 38px;
    padding-left: 38px;
}

.headerlogo {
    display: inline-block;
    padding-left: 26px;
    align-self: center;
}

/* MAIN */

.hero {
    max-width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid #262525;
    margin-bottom: 28px;
}

/* NEWS */

.news-view-all {
    color: #03969d;
    font-size: 10.16px;
    font-family: 'Verdana';
    margin-left: 6px;
}

.arrow.right.view-all {
    border: #03969d solid;
    border-width: 0 2px 2px 0;
    margin-right: 8px;
}

.news-title {
    font-family: 'Verdana';
    font-size: 25.4px;
    color: #ffffff;
    font-weight: 100;
}