/* HEADER */

.aboutus-link {
    font-family: 'Verdana';
    text-decoration: none;
    font-size: 10.16px;
    color: #999999;
    padding: 12px;
}

/* EVENTS */

.events-arrow {
    display: flex;
    align-items: center;
    background-color: #ffa019;
    border: none;
    margin: 1px;
}
.events-arrow-right {
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    border-left: 1px solid #ffb142;
    margin-left: 0;
    padding-right: 10px;
}
.events-arrow-left {
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    border-right: 1px solid #ef9617;
    margin-right: 0;
    padding-left: 10px;
}
.events-arrow:focus {
    outline: none;
}
.events-arrow:active {
    background-color: #ac6b11;
}

.news-arrow-up {
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    border-left: 1px solid #ffb142;
    margin-left: 0;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 6px;
}
.news-arrow-down {
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    border-right: 1px solid #ef9617;
    margin-right: 0;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 10px;
}

.arrow {
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.events-thumbnail {
    width: 176px;
}
.label {
    color: #ffffff;
    font-size: 12.7px;
    font-family: 'Verdana';
}

/* NEWS */

.news-article-wrapper {
    display: flex;
    align-items: stretch;
}
.news-article {
    display: flex;
    align-items: center;
    background-color: #333333;
    height: fit-content;
    width: 100%;
    margin-bottom: 5px;
}
.news-latest-date-wrapper {
    display: flex;
    align-items: center;
    width: 50px;
}
.news-latest-date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 48px;
    width: 100%;
    background-color: #009ea6;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.news-latest-day {
    font-size: 25.4px;
    font-weight: bold;
    font-family: sans-serif;
    color: #ffffff;
}
.news-latest-month {
    font-size: 10.17px;
    color: #ffffff;
    font-family: 'Verdana';
}
.news-article-content {
    padding-left: 24px;
}
.news-article-title {
    font-size: 17.78px;
    color: #ffffff;
    font-family: 'Verdana';
    margin-top: 12px;
    margin-bottom: 6px;
    align-self: baseline;
}
.news-article-text {
    font-size: 10.17px;
    color: #ffffff;
    font-family: 'Verdana';
    margin: 0;
    padding-bottom: 15px;
}
.news-read_more-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.news-latest-article-read_more {
    font-size: 12.7px;
    font-weight: bold;
    font-family: 'Verdana';
    text-decoration: none;
    color: #ffffff;
    background-color: #e51937;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
}
.news-center-img-frame {
    height: 64px;
    box-shadow: 1px 1px 8px black;
    margin-left: 12px;
}
.news-center-arrow-wrapper {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 240px;
}
.news-center-arrow {
    border: 8px solid transparent;
    border-left-color: #e51937;
}

/* EVENTS */

.events-link {
    text-decoration: none;
}

/* FOOTER */

.logo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    width: fit-content;
    margin-left: 22px;
}

.logo-odense {
    display: block;
    font-family: 'Bauhaus 93';
    font-size: 30.39px;
    color: #11757a;
    align-self: end;

    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.logo-track {
    display: block;
    height: 38.71px;
    font-family: 'Bernard MT Condensed';
    font-size: 38.71px;
    color: white;
    align-self: end;

    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.logo-r-and-e {
    display: block;
    font-family: 'Verdana';
    font-size: 9.12px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.6px;
    align-self: end;

    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.footer-nav-item {
    padding: 8px;
}
.footer-nav-link {
    text-decoration: none;
    font-size: 10.16px;
    font-family: 'Verdana';
    color: #578282;
}
.footer-main-title {
    color: #ffffff;
    font-size: 12.7px;
    font-family: 'Verdana';
    font-weight: 100;
    margin: 0;
}
.footer-main-text {
    display: block;
    color: #c4c4c4;
    font-size: 10.16px;
    font-family: 'Verdana';
    margin-top: 12px;
    margin-bottom: 12px;
}

/******/

/* NEWS PAGE */

.margin-g {
    margin-top: auto;
}


/* NEWS PAGE ADMIN */
.submit {
    width: fit-content;
    background-color: #c8142e;
    color: #ffffff;
    font-size: 10.16px;
    font-family: 'Verdana';
    font-weight: bold;
    padding: 6px;
    border: none;
    border-radius: 5px;
    margin-top: 6px;
}
.submit:active {
    background-color: #a1141a;
}
.submit:focus {
    outline: none;
}