.logo {
    display: grid;
}

.logo-odense {
    margin: 0;
    font-family: 'Bauhaus 93';
    font-size: 30.39px;
    color: #11757a;
}

.logo-track {
    font-family: 'Bernard MT Condensed';
    font-size: 38.71px;
    color: white;
}

.logo-r-and-e {
    font-family: 'Verdana';
    font-size: 9.12px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.6px;
}