.logo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    width: fit-content;
    height: 100px;
}

.logo-odense {
    display: block;
    font-family: 'Bauhaus 93';
    font-size: 30.39px;
    color: #11757a;
    align-self: end;

    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.logo-track {
    display: block;
    height: 38.71px;
    font-family: 'Bernard MT Condensed';
    font-size: 38.71px;
    color: white;
    align-self: end;

    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.logo-r-and-e {
    display: block;
    font-family: 'Verdana';
    font-size: 9.12px;
    color: white;
    font-weight: bold;
    letter-spacing: 1.6px;
    align-self: end;

    grid-column: 1 / 1;
    grid-row: 1 / 1;
}